<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">

			<span class="mdl-layout-title">ng2-builder</span>
		</div>
		<!--
		<div class="mdl-layout__tab-bar">
			<a href="#fixed-tab-1" class="mdl-layout__tab is-active">About</a>
		</div>
	-->
	</header>

	<!-- /.mdl-layout__drawer -->

	<main class="mdl-layout__content">

		<div class="mdl-layout__tab-panel is-active">
			<div class="page-content">

				<div class="mdl-grid main-section">
					<div class="mdl-cell mdl-cell--12-col">

						<section dynamicPlaceholder></section>

					</div>
				</div>
			</div>
		</div>

		<!--
         <div class="mdl-grid mdl-grid--no-spacing">

             <div class="mdl-cell mdl-cell--12-col contact-intro mdl-color--indigo-900">
                 <h2
                     class="mdl-typography--title mdl-typography--title-color-contrast mdl-typography--font-thin mdl-typography--text-center">
                     Make your kittens happier with my tips</h2>
             </div>

         </div>
 -->

	</main>
</div>

