<!-- Simple Textfield -->

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	<input 
		class="mdl-textfield__input" 
		type="text" 
		[pattern]="attributes.validation?.pattern.value " 
		[id]="attributes.id"
		[placeholder]="attributes.placeholder"
		[name]="attributes.name"
		[required]="attributes.validation?.required.value || null"
		[(ngModel)]="attributes.defaultValue"
       	#model="ngModel" 
       	/>
		
	<label class="mdl-textfield__label" for="sample4">{{attributes.label}}</label>

	<div *ngIf="model.errors && (model.dirty || model.touched)">
		<div [hidden]="!model.errors.required" class="error">
			{{attributes.validation?.required.error}}
	    </div>

	    <div [hidden]="!model.errors.pattern" class="error">
			{{attributes.validation?.pattern.error}}
		</div>
	</div>

</div>
