<!-- Simple Textfield -->

<div [ngClass]="attributes.wrapperClass">
	<textarea
		[ngClass]="attributes.class"
		[id]="attributes.id"
		[placeholder]="attributes.placeholder"
		[name]="attributes.name"
		[rows]="attributes.rows"
		[required]="attributes.validation?.required.value || null"
		[(ngModel)]="attributes.defaultValue"
		#model="ngModel"
	></textarea>

	<label [ngClass]="attributes.labelClass">{{attributes.label}}</label>

	<div *ngIf="model.errors && (model.dirty || model.touched)">
		<div [hidden]="!model.errors.required" class="error">
			{{attributes.validation?.required.error}}
		</div>
	</div>

</div>
